@define-color foreground #d4be98;
@define-color foreground #ADD8E6;
@define-color foreground #ffffff;
@define-color background #111111;
@define-color color1 #ADD8E6;
@define-color color1 #FFFFFF;
@define-color color2 #000000;
