@import "colors.css";

#backlight, #battery, #network, #workspaces,
#language, #power-profiles-daemon {
  background: @transparent;
  color: #ffffff;
  border-radius: 0px;
  margin-top: 1px;
  margin-right: 4px;
  margin-left: 4px;
  padding: 0px 20px 0px 20px;
  /* border: 1px solid @color1; */
  /* border-bottom: 2px solid @color1; */
}

* {
  font-family: "Jetbrains mono Semibold";
  font-size: 16px;
}

#waybar { background: rgba(20,20,20,1); }
/* #waybar { background: transparent; } */
#workspaces { padding: 1px 1px 1px 1px; }

.modules-left, .modules-right { border-radius: 2px; }
.modules-left                 { margin-left: 8px;   }

#workspaces button {
  font-size: 5px;
  padding: 0px 6px 0px 6px;
  margin: 0px; 
  border-radius: 0px;
}

#workspaces button.focused { 
  background-color: @color1; 
  color: #ffffff;
}

#workspaces button.active {
  background-color: @color1; 
  color: #000000; 
}

#workspaces button.persistent { color: #ffffff; }
#workspaces button.empty      { color: #787878; }
#workspaces button.visible    { color: #000000; }

#pulseaudio, #cpu, #memory {
  margin-right: 20px;
}

#clock {
  margin-right: 10px;
}
